prefix="${PREFIX}"
member_admin_username="${MEMBER_ADMIN_USERNAME}"
member_admin_password="${MEMBER_ADMIN_PASSWORD}"
storage_bucket="${STORAGE_BUCKET}"
app_client_id="${APP_CLIENT_ID}"
user_pool_id="${USER_POOL_ID}"
mcp_role="${MCP_ROLE}"
role_arn="${ROLE_ARN}"
ec2_cli_configuration=[
    {
      channel_id       = "${CHANNEL_ID}"
      channel_codename = "${CHANNEL_CODENAME}"
      key_pair_name    = "${KEY_PAIR_NAME:-null}"
      instance_type    = "t2.medium"
    }

  ]
ecs_domain_name="${HOSTED_ZONE_NAME}"
auth_type="${AUTH_TYPE}"
user_data_s3_uri="${USER_DATA_S3_URI}"
