prefix="${PREFIX}"
member_admin_username="${MEMBER_ADMIN_USERNAME}"
member_admin_password="${MEMBER_ADMIN_PASSWORD}"
storage_bucket="${STORAGE_BUCKET}"
app_client_id="${APP_CLIENT_ID}"
user_pool_id="${USER_POOL_ID}"
mcp_role="${MCP_ROLE}"
role_arn="${ROLE_ARN}"
